img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  float: left;
  margin-right: 30px;
}

iframe {
  float: left;
  margin-right: 30px;
}

.username {
  font-weight: bold;
}

.work {
  display: grid;
  padding: 30px;
  grid-template-columns: 0.5fr 1fr;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 1px;
}
.Mitem {
  text-decoration: none;
  color: black;
}

.nav1 {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
}
.about {
  display: grid;
  padding: 30px;
  grid-template-columns: 0.5fr 3fr;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 1px;
}

.resume {
  display: grid;

  grid-template-columns: 1fr 1fr;
  padding: 30px;
  gap: 20px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 1px;
}

.body {
  display: grid;

  grid-template-columns: 100%;
}

nav,
header,
h2 {
  text-align: center;
}
footer {
  text-align: right;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(241, 211, 211);
  gap: 30px;
  position: fixed;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 1px;
}

section {
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
}

.GridLay {
  padding: 30px;
  border-radius: 10%;
  border-width: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px;
}

#contact {
  text-align: center;
}

.input {
  width: 250px;
  border-radius: 150px;
  height: 40px;
}

.button {
  width: 150px;
  border-radius: 100px;
  height: 30px;
  background-color: gray;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background-color: rgb(241, 211, 211);
}

hr {
  border-style: solid;
}
